html, body {
  font-family: 'product sans';
  margin: 0;
  padding: 0;
}
.mdl .mdl-layout__header-row {
  padding-left: 70px;
}

.mdl-layout .mdl-layout__header,
.mdl-layout .mdl-layout__drawer-button {
    color:black;
    background: white;
    
}

.mdl .mdl-layout.is-small-screen .mdl-layout__header-row h3 {
  font-size: inherit;
}


.mdl main > .mdl-layout__tab-panel {
  padding: 8px;
  padding-top: 30px;
  
}
.mdl .mdl-card {
  height: auto;
  display: flex;
  flex-direction: column;
}
.mdl .mdl-card > * {
  height: auto;
    font-family: 'Product Sans'
}
.mdl .mdl-card .mdl-card__supporting-text {
  margin: 40px;
  flex-grow: 1;
  padding: 0;
  color: inherit;
  width: calc(100% - 80px);
    font-family: 'Product sans';
}
.mdl.mdl .mdl-card__supporting-text h4 {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: 'product sans'
}

.mdl-card__actions {
  margin: 0;
  padding: 4px 40px;
  color: inherit;
}
.mdl .mdl-card__actions a {
  color: #00BCD4;
  margin: 0;
}
.mdl .mdl-card__actions a:hover,
.mdl .mdl-card__actions a:active {
  color: inherit;
  background-color: transparent;
}
.mdl .mdl-card__supporting-text + .mdl-card__actions {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
    
}
.mdl #add {
  position: absolute;
  right: 40px;
  top: 36px;
  z-index: 999;
}

.mdl .mdl-layout__content section:not(:last-of-type) {
  position: relative;
  margin-bottom: 48px;
}
.mdl section.section--center {
  max-width: 860px;
}
.mdl #features section.section--center {
  max-width: 620px;
}
.mdl section > header{
  display: flex;
  align-items: center;
  justify-content: center;
}

.mdl section > .section__play-btn.sticker {
  min-height: 200px;
    background-color: black;
    opacity: .8;
    background: url('/images/Artboard%206.png') center/cover;
}

.mdl section > .section__play-btn.ep38 {
  min-height: 200px;
background: url('http://stmedia.stimg.co/08-1002570333+08WILD010117.jpg?fit=crop&crop=faces') center/cover;
    opacity: .3;
    
}

.mdl section > .section__play-btn.ep38:hover {
  min-height: 200px;
    opacity: .9;
    
}


.mdl section > .section__play-btn.ep37 {
  min-height: 200px;
background: url('http://68.media.tumblr.com/492c491f8e85c4decdee116e715d2d84/tumblr_omkz0nz74o1w6e99ro1_1280.jpg') center/cover;
    opacity: .3;
    
}

.mdl section > .section__play-btn.ep37:hover {
  min-height: 200px;
    opacity: .9;
    
}

.mdl section > .section__play-btn.ep36 {
  min-height: 200px;
background: url('https://cdn1.vox-cdn.com/uploads/chorus_image/image/53574455/648895554.0.jpg') center/cover;
    opacity: .3;
    
}

.mdl section > .section__play-btn.ep36:hover {
  min-height: 200px;
    opacity: .9;
    
}

.mdl section > .section__play-btn.ep35 {
  min-height: 200px;
background: url('https://thenypost.files.wordpress.com/2017/03/rangers-hurricanes.jpg?quality=90&strip=all&strip=all') center/cover;
    opacity: .3;
    
}

.mdl section > .section__play-btn.ep35:hover {
  min-height: 200px;
    opacity: .9;
    
}

.mdl section > .section__play-btn.ep34 {
  min-height: 200px;
background: url('http://images2.9c9media.com/image_asset/2017_3_8_477e6230-f80c-4510-ae4f-c82801f7220d_jpg_1920x1080.jpg') center/cover;
    opacity: .3;
    
}

.mdl section > .section__play-btn.ep34:hover {
  min-height: 200px;
    opacity: .9;
    
}

.mdl section > .section__play-btn.ep33 {
  min-height: 200px;
background: url('https://cdn0.vox-cdn.com/thumbor/M9a1TUl4OFhBRvxF2TKMOpP1Gs8=/0x194:1942x1286/1600x900/cdn0.vox-cdn.com/uploads/chorus_image/image/53590087/usa_today_9925238.0.jpg') center/cover;
    opacity: .3;
    
}

.mdl section > .section__play-btn.ep33:hover {
  min-height: 200px;
    opacity: .9;
    
}

.mdl section > .section__play-btn.ep32 {
  min-height: 200px;
background: url('http://www.mcclatchy-wires.com/incoming/1o7gto/picture136853333/ALTERNATES/FREE_1140/Rangers_Lightning_Hockey_58626.jpg') center/cover;
    opacity: .3;
    
}

.mdl section > .section__play-btn.ep32:hover {
  min-height: 200px;
    opacity: .9;
    
}

.mdl section > .section__play-btn.ep31 {
  min-height: 200px;
background: url('https://nhl.bamcontent.com/images/photos/279434650/1284x722/cut.jpg') center/cover;
    opacity: .3;
    
}

.mdl section > .section__play-btn.ep31:hover {
  min-height: 200px;
    opacity: .9;
    
}

.mdl section > .section__play-btn.ep30 {
  min-height: 200px;
background: url('https://i.cbc.ca/1.4007827.1488503200!/fileImage/httpImage/image.jpg_gen/derivatives/16x9_1180/subban-pk.jpg') center/cover;
    opacity: .3;
    
}

.mdl section > .section__play-btn.ep30:hover {
  min-height: 200px;
    opacity: .9;
    
}

.mdl section > .section__play-btn.ep29 {
  min-height: 200px;
background: url('http://media.cmgdigital.com/shared/img/photos/2017/03/02/a2/74/e7818e8a465840fd98fa6c57a2a58151-7014f64464234c39a880102f71ac6cca-2.jpg') center/cover;
    opacity: .3;
    
}

.mdl section > .section__play-btn.ep29:hover {
  min-height: 200px;
    opacity: .9;
    
}

.mdl section > .section__play-btn.ep28 {
  min-height: 200px;
background: url('http://s3.amazonaws.com/si-fl-wp/wp-content/uploads/20170224112554/toews-900-x-3501.jpg') center/cover;
    opacity: .3;
    
}

.mdl section > .section__play-btn.ep28:hover {
  min-height: 200px;
    opacity: .9;
    
}

.mdl section > .section__play-btn.ep27 {
  min-height: 200px;
background: url('http://cdn-s3.si.com/styles/marquee_large_2x/s3/images/jon-quick-kings-nhl-1300.jpg?itok=B2QN3Otd') center/cover;
    opacity: .3;
    
}

.mdl section > .section__play-btn.ep27:hover {
  min-height: 200px;
    opacity: .9;
    
}

.mdl section > .section__play-btn.ep26 {
  min-height: 200px;
background: url('http://www.post-gazette.com/image/2017/02/26/ca0,7,2600,1740/20170225mfpenssports05.JPG') center/cover;
    opacity: .3;
    
}

.mdl section > .section__play-btn.ep26:hover {
  min-height: 200px;
    opacity: .9;
    
}

.mdl section > .section__play-btn.ep25 {
  min-height: 200px;
background: url('https://pbs.twimg.com/media/C5Z1s7nWQAA8bDa.jpg') center/cover;
    opacity: .3;
    
}

.mdl section > .section__play-btn.ep25:hover {
  min-height: 200px;
    opacity: .9;
    
}

.mdl section > .section__play-btn.ep24 {
  min-height: 200px;
background: url('http://assets1.sportsnet.ca/wp-content/uploads/2017/02/alex-ovechkin-nicklas-backstrom-michal-neuvirth.jpg') center/cover;
    opacity: .3;
    
}

.mdl section > .section__play-btn.ep24:hover {
  min-height: 200px;
    opacity: .9;
    
}

.mdl section > .section__play-btn.ep23 {
  min-height: 200px;
background: url('http://pbs.twimg.com/media/C5PtiCMUcAAgW7X.jpg:large') center/cover;
    opacity: .3;
    
}

.mdl section > .section__play-btn.ep23:hover {
  min-height: 200px;
    opacity: .9;
    
}

.mdl section > .section__play-btn.ep22 {
  min-height: 200px;
background: url('http://s3.amazonaws.com/si-fl-wp/wp-content/uploads/20170219133331/MikeSmith.jpg') center/cover;
    opacity: .3;
    
}

.mdl section > .section__play-btn.ep22:hover {
  min-height: 200px;
    opacity: .9;
    
}


.mdl section > .section__play-btn.ep21 {
  min-height: 200px;
background: url('http://cdn.saleminteractivemedia.com/associated-press/data/photos/2017/50/59f9226f-1d79-47b8-bfeb-c88e2d360d2a.jpg') center/cover;
    opacity: .3;
    
}

.mdl section > .section__play-btn.ep21:hover {
  min-height: 200px;
    opacity: .9;
    
}


.mdl section > .section__play-btn.ep20 {
  min-height: 200px;
background: url('https://pbs.twimg.com/media/C41ibL3WAAA-4P5.jpg') center/cover;
    opacity: .3;
    
}

.mdl section > .section__play-btn.ep20:hover {
  min-height: 200px;
    opacity: .9;
    
}

.mdl section > .section__play-btn.ep19 {
  min-height: 200px;
background: url('https://nhl.bamcontent.com/images/photos/284143054/1284x722/cut.jpg') center/cover;
    opacity: .3;
    
}

.mdl section > .section__play-btn.ep19:hover {
  min-height: 200px;
    opacity: .9;
    
}

.mdl section > .section__play-btn.ep18 {
  min-height: 200px;
background: url('http://pbs.twimg.com/media/C4rcPlMXUAA5zdx.jpg:medium') center/cover;
    opacity: .3;
    
}

.mdl section > .section__play-btn.ep18:hover {
  min-height: 200px;
    opacity: .9;
    
}


.mdl section > .section__play-btn.ep17 {
  min-height: 200px;
background: url('https://cdn0.vox-cdn.com/thumbor/YgcgS-vX6fHbW_NKAtxeoXJXKDA=/0x31:4145x2363/1600x900/cdn0.vox-cdn.com/uploads/chorus_image/image/49063243/usa-today-9180380.0.jpg') center/cover;
    opacity: .3;
    
}

.mdl section > .section__play-btn.ep17:hover {
  min-height: 200px;
    opacity: .9;
    
}


.mdl section > .section__play-btn.ep16 {
  min-height: 200px;
background: url('https://d13csqd2kn0ewr.cloudfront.net/uploads/image/file/229006/cropped_2017-02-13T020727Z_1212864411_NOCID_RTRMADP_3_NHL-MONTREAL-CANADIENS-AT-BOSTON-BRUINS.jpg?ts=1486952161') center/cover;
    opacity: .3;
    
}

.mdl section > .section__play-btn.ep16:hover {
  min-height: 200px;
    opacity: .9;
    
}

.mdl section > .section__play-btn.ep15 {
  min-height: 200px;
background: url('http://assets1.sportsnet.ca/wp-content/uploads/2017/02/tarasenko-1.jpg') center/cover;
    opacity: .3;
    
}

.mdl section > .section__play-btn.ep15:hover {
  min-height: 200px;
    opacity: .9;
    
}

.mdl section > .section__play-btn.ep14 {
  min-height: 200px;
background: url('http://cdn.fansided.com/wp-content/uploads/usat-images/2016/04/9792286-nhl-centennial-classic-detroit-red-wings-at-toronto-maple-leafs.jpeg') center/cover;
    opacity: .3;
    
}

.mdl section > .section__play-btn.ep14:hover {
  min-height: 200px;
    opacity: .9;
    
}

.mdl section > .section__play-btn.ep13 {
  min-height: 200px;
background: url('http://images.performgroup.com/di/library/sporting_news/ee/54/getty_1oeaga32ll6y81sgtucj89wya9.jpg?t=172001386') center/cover;
    opacity: .3;
    
}

.mdl section > .section__play-btn.ep13:hover {
  min-height: 200px;
    opacity: .9;
    
}

.mdl section > .section__play-btn.ep12 {
  min-height: 200px;
background: url('http://cdn.fansided.com/wp-content/uploads/usat-images/2016/04/9851398-nhl-washington-capitals-at-new-york-islanders.jpeg') center/cover;
    opacity: .3;
    
}

.mdl section > .section__play-btn.ep12:hover {
  min-height: 200px;
    opacity: .9;
    
}

.mdl section > .section__play-btn.ep11 {
  min-height: 200px;
background: url('https://nhl.bamcontent.com/images/photos/286480214/1024x576/cut.jpg') center/cover;
    opacity: .3;
    
}

.mdl section > .section__play-btn.ep11:hover {
  min-height: 200px;
    opacity: .9;
    
}

.mdl section > .section__play-btn.ep10 {
  min-height: 200px;
background: url('http://static.gofansgo.com/media/post_images/JamieBenn787832434.jpg') center/cover;
    opacity: .3;
    
}

.mdl section > .section__play-btn.ep10:hover {
  min-height: 200px;
    opacity: .9;
    
}

.mdl section > .section__play-btn.ep9 {
  min-height: 200px;
background: url('https://cdn0.vox-cdn.com/thumbor/aeIFX-1y3BapXCGYirvrv-DuBlo=/0x0:960x540/1600x900/cdn0.vox-cdn.com/uploads/chorus_image/image/51051339/brad_marchand_ogcDlru.0.0.jpg') center/cover;
    opacity: .3;
    
}

.mdl section > .section__play-btn.ep9:hover {
  min-height: 200px;
    opacity: .9;
    
}

.mdl section > .section__play-btn.ep8 {
  min-height: 200px;
background: url('http://media.video-cdn.espn.com/motion/2017/0201/dm_170201_NHL_DUCKS_SILFVERBERG_2_GOALS/dm_170201_NHL_DUCKS_SILFVERBERG_2_GOALS.jpg') center/cover;
    opacity: .3;
    
}

.mdl section > .section__play-btn.ep8:hover {
  min-height: 200px;
    opacity: .9;
    
}


.mdl section > .section__play-btn.ep7 {
  min-height: 200px;
background: url('http://a.espncdn.com/combiner/i?img=%2Fphoto%2F2016%2F0627%2Fr96624_1296x729_16-9.jpg') center/cover;
    opacity: .3;
    
}

.mdl section > .section__play-btn.ep7:hover {
  min-height: 200px;
    opacity: .9;
    
}

.mdl section > .section__play-btn.ep6 {
  min-height: 200px;
background: url('https://cdn2.vox-cdn.com/uploads/chorus_image/image/52978749/633037050.0.jpg') center/cover;
    opacity: .3;
    
}

.mdl section > .section__play-btn.ep6:hover {
  min-height: 200px;
    opacity: .9;
    
}


.mdl section > .section__play-btn.ep5 {
  min-height: 200px;
background: url('https://www.staplescenter.com/assets/img/NHL-AllStar-2017-960x390-webhero-be352240a8.jpg') center/cover;
    opacity: .3;
    
}

.mdl section > .section__play-btn.ep5:hover {
  min-height: 200px;
    opacity: .9;
    
}

.mdl section > .section__play-btn.ep4 {
  min-height: 200px;
  opacity:.3;
background: url('https://nhl.bamcontent.com/images/photos/285522850/1024x576/cut.jpg') center/cover;
    
}

.mdl section > .section__play-btn.ep4:hover {
  min-height: 200px;
    opacity: .9;
    
}

.mdl section > .section__play-btn.ep3 {
  min-height: 200px;
  opacity:.3;
background: url('http://2.cdn.nhle.com/bluejackets/images/upload/gallery/2016/01/503207314_slide.jpg') center/cover;
    
}

.mdl section > .section__play-btn.ep3:hover {
  min-height: 200px;
    opacity: .9;
    
}

.mdl section > .section__play-btn.ep2 {
  min-height: 200px;
  opacity:.3;
background: url('http://krisletang.org/wp-content/uploads/2015/01/01132015-3.jpg') center/cover;
    
}

.mdl section > .section__play-btn.ep2:hover {
  min-height: 200px;
    opacity: .9;
    
}

.mdl section > .section__play-btn.ep1 {
  min-height: 200px;
  opacity:.3;
background: url('/images/Artboard%206.png') center/cover;
    
}

.mdl section > .section__play-btn.ep1:hover {
  min-height: 200px;
    opacity: .9;
    
}

.mdl section > .section__play-btn.jagr {
  min-height: 200px;
background: url('../images/jagr.png') center/cover;
    
    
}

.mdl section > .section__play-btn.detroitp {
  min-height: 200px;
background: url('../images/detroit/header_index.png') center/cover;
    
}

.mdl section > .section__play-btn.elo {
  min-height: 200px;
background: url('../images/elo-header.png') center/cover;
    
}

.mdl section > .section__play-btn.beginner {
  min-height: 200px;
background: url('../images/1.jpg') center/cover;
    
}

.mdl section > header > .material-icons {
  font-size: 3rem;
}
.mdl section > button {
  position: absolute;
  z-index: 99;
  top: 8px;
  right: 8px;
}
.mdl section .section__circle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 0;
  flex-shrink: 1;
}
.mdl section .section__text 
  flex-grow: 1;
  flex-shrink: 0;
  padding-top: 8px;
}
.mdl section .section__text h5 {
  font-size: inherit;
  margin: 0;
  margin-bottom: 0.5em;
}
.mdl section .section__text a {
  text-decoration: none;
}
.mdl section .section__circle-container > .section__circle-container__circle {
  width: 64px;
  height: 64px;
  border-radius: 32px;
  margin: 8px 0;
}
.mdl section.section--footer .section__circle--big {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin: 8px 32px;
}
.mdl .is-small-screen section.section--footer .section__circle--big {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin: 8px 16px;
}
.mdl section.section--footer {
  padding: 64px 0;
  margin: 0 -8px -8px -8px;
}
.mdl section.section--center .section__text:not(:last-child) {
  border-bottom: 1px solid rgba(0,0,0,.13);
}
.mdl .mdl-card .mdl-card__supporting-text > h3:first-child {
  margin-bottom: 24px;
    font-family: 'Product Sans';
}
.mdl .mdl-layout__tab-panel:not(#overview) {
  background-color: white;
}
.mdl #features section {
  margin-bottom: 72px;
}
.mdl #features h4, #features h5 {
  margin-bottom: 16px;
}
.mdl .toc {
  border-left: 4px solid #C1EEF4;
  margin: 24px;
  padding: 0;
  padding-left: 8px;
  display: flex;
  flex-direction: column;
}
.mdl .toc h4 {
  font-size: 0.9rem;
  margin-top: 0;
}
.mdl .toc a {
  color: #4DD0E1;
  text-decoration: none;
  font-size: 16px;
  line-height: 28px;
  display: block;
}
.mdl .mdl-menu__container {
  /* z-index: 99; */
}

/* ARTICLE */

.mdl .demo-layout-waterfall .mdl-layout__header-row .mdl-navigation__link:last-of-type  {
  padding-right: 0;
}

.images {
    position:relative;
    display: inline;
    max-width: 840px;
    margin: auto;
}
.imageSelector {
    text-align: center;
    margin: auto;
}

.intrinsic-container {
  position: relative;
  height: 0;
  overflow: hidden;
}
 
/* 16x9 Aspect Ratio */
.intrinsic-container-16x9 {
  padding-bottom: 56.25%;
}
 
/* 4x3 Aspect Ratio */
.intrinsic-container-4x3 {
  padding-bottom: 75%;
}
 
.intrinsic-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 500px;
}

.pagination {
    font-size: 2em;
    padding-top: .6em;
    padding-bottom: .6em;
    text-align: center;
    align-content: center;
}

.pagination-weeks{
    font-size: 2em;
    padding-top: 1em;
    opacity: .6;
    text-align: center;
    align-content: center;
    text-decoration: underline;
}

.pagination-index button{
    font-size: 1em;
    text-align: center;
    font-family: 'product sans';
    opacity: .8;
}

.pagination-index{
    font-size: 1.3em;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    align-content: center;
}

.pagination .active {
     opacity: 1;
    padding: 8px 16px;
}

.pagination a {
    color: dimgray;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
    opacity: .5;
    
}
.pagination a:hover {
    background-color: white;
    opacity: 1;
    transition: .2s;
    
}


